click>=7.1.2
jsonschema>=3.2.0
jsonschema-extended>=0.6
requests>=2.25.1
simplejson>=3.17.2
yaql>=1.0.0
colorama>=0.4.3
six>=1.15.0
urllib3>=1.26.3
PyYAML>=5.4.1
attrs>=20.3.0
bson>=0.5.10
click_spinner==0.1.10